@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(to bottom, rgb(181, 243, 222), white);
  color: #2e2c4b;
  margin: 0;
  font-family: "Comfortaa", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes blur {
  0% {
    filter: blur(5px);
  }

  100% {
    filter: blur(0);
  }
}
